<%- include('../partials/head') %>

<main class="main">
  <a class="main__add-message-link" href="/new">Add Message</a>
  <div class="messages">
    <% for (let i = messages.length - 1; i >= 0; i--) { %>
    <%- include('../partials/message', {message: messages[i]}); %>
    <% }; %>
  </div>
</main>

<%- include('../partials/footer') %>